<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/argentinaprograma?useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Dialecto de la base de datos -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuración para crear automáticamente las tablas -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Otras configuraciones de Hibernate -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mapeo de clases -->
        <mapping class="entities.Cliente"/>
        <mapping class="entities.MesaDeAyuda"/>
        <mapping class="entities.Tecnico"/>
        <mapping class="entities.Operador"/>
        <mapping class="entities.RRHH"/>
        <mapping class="entities.Incidente"/>
        <mapping class="entities.Servicio"/>
        <mapping class="entities.TipoProblema"></mapping>
        <mapping class="entities.Notificacion"></mapping>
    </session-factory>
</hibernate-configuration>

